<link rel="stylesheet" href="/font/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/css/Trangchu.css">
<style>
        .social-icons a:hover {
            color: #007bff; /* Hoặc màu bạn muốn */
        }


</style>
<div class="footer">
        <div class="footer-top">
            <div class="footer-left">
                <p><strong>Công ty cổ phần BDS Hà Nội</strong></p>
                <p>Tầng 35, Keangnam Hanoi Landmark, Phạm Hùng, Bắc Từ Liêm, Hà Nội</p>
                <p><i class="fa fa-phone"></i> (02)589745612 - (02)99845716</p>
                <p>Copyright © 2007 - 2024</p>
                <p>Giấy ĐKKD số 0104630479 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 02/06/2015</p>
                <p>Giấy phép thiết lập trang thông tin điện tử tổng hợp trên mạng số 191/GP-TTĐT do Sở TTTT Hà Nội cấp ngày 31/08/2023</p>
            </div>
            <div class="footer-right">
                <p><strong>Giám đốc: LÊ DUY KHÁNH</strong></p>
                <p><strong>Chịu trách nhiệm nội dung GP ICP:</strong> Ông Lê Duy Khánh</p>
                <p><strong>Chịu trách nhiệm sàn GDTMĐT:</strong> Ông Nguyễn Hữu Du</p>
                <p>Quy chế, quy định giao dịch có hiệu lực từ 08/08</p>
                <p>Ghi rõ nguồn "Hanoi.bds" khi phát hành lại thông tin từ website này.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <p><i class="ti-headphone-alt"> </i><strong>Hotline</strong><br>19001881</p>
                <p><i class="ti-desktop"> </i><strong>Hỗ trợ khách hàng</strong><br><a href="https://www.facebook.com/vietanh.cung.712/">Cung Việt Anh</a></p>
                <p><i class="ti-email"> </i><strong>Chăm sóc khách hàng</strong><br><a href="https://www.facebook.com/VuAnhQuan1509">Vũ Anh Quân</a></p>
            </div>
            <div class="footer-right">
                <div class="social-icons">
                    <a href="https://www.facebook.com/VuAnhQuan1509/"><i class="ti-facebook"></i></a>
                    <a href="https://www.instagram.com/_.lil_wun/?fbclid=IwY2xjawFEHCJleHRuA2FlbQIxMAABHURsX7cYPnphzxv0KmtNSB_gJKY4FdHXMe_dLGsmMNrxpkIca26HHGWM8A_aem_q2VApXXJ7USIWKY6vXSJUg"><i class="ti-instagram"></i></a>
                    <a href="https://youtu.be/dQw4w9WgXcQ?si=dNeKgHX9yjLqTkW8"><i class="ti-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>